*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle-wrapper.properties
gradlew
gradlew.bat
compiler.xml
gradle.xml
misc.xml
modules.xml
runConfigurations.xml
gradle-wrapper.jar
profiles_settings.xml
google-services.json
vcs.xml
.idea/inspectionProfiles/Project_Default.xml
